* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-size: 14px;
    font-family: 'Raleway', sans-serif;
    color: white;
}

main {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("./images/bg-desktop.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: hsl(229, 57%, 11%);
}

.container {
    width: 60%;
    display: flex;
    justify-content: space-between;
}

.left-container {
    width: 35%;
    background-color: hsl(228, 56%, 26%);
    padding: 2rem;
    border-radius: 0.7rem 5rem 0.7rem 0.7rem;
}

.icons {
    height: 3rem;
    margin-top: 2rem;
}

.icon {
    background-color: hsl(229, 57%, 11%);
    padding: 1rem 0.8rem;
    height: 100%;
    margin-right: 0.7rem;
    border-radius: 0.7rem;
    width: 2.8rem;
}

.right-container {
    width: 60%;
    background-color: hsl(228, 56%, 26%);
    padding: 2rem;
    margin-top: 2rem;
    position: relative;
    border-radius: 0.7rem;
}

/* comment background */
.space-left {
    background-color: white; /* color of the icon */
    position: absolute; /* to position the arrow */
    right: 2rem;
    top: -3rem;
    padding: 1rem;
    border-radius: 0.7rem;
    border: none;
}

/* comment icon */
.space-left::after {
    content: "";
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 10px solid transparent;
    border-top: 25px solid white; /* color of the comment icon */
    position: absolute; /* to position the arrow */
    bottom: -17px; /* move the arrow 5px outside of the div */
    right: 1px; /* move the arrow 5px outside of the div */
}

.space-left h1 {
    color: hsl(229, 57%, 11%);
    display: flex;
    align-items: center;
}

.space-left .gb-left {
    color: hsl(229, 7%, 55%);
    font-size: 0.6rem;
    font-weight: 700;
    margin-left: 0.5rem;
}

.font-change {
    color: hsl(243, 100%, 93%);
}

.bold {
    font-weight: 700;
}

.bar-container {
    background-color: hsl(229, 57%, 11%);
    height: 1rem;
    width: 100%;
    border-radius: 1rem;
    padding: 0.2rem;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}

.bar {
    width: 81.5%;
    height: 100%;
    background-image: linear-gradient(to right, hsl(6, 100%, 80%), hsl(335, 100%, 65%));
    border-radius: 1rem;
}

.storage-limit {
    display: flex;
    justify-content: space-between;
}

.limit {
    font-size: 0.7rem;
    font-weight: 700;
    color: hsl(243, 100%, 93%);
}

@media only screen and (max-width: 375px) {
    .container {
        width: 80%;
        flex-direction: column;
    }

    .left-container {
        width: 100%;
    }

    .right-container {
        width: 100%;
        padding-bottom: 3rem;
    }

    .space-left {
        right: 30%;
        bottom: -2rem;
        top: auto;
    }

    .space-left::after {
        display: none;
    }
}